{% extends "base_logged_in.html" %}
{% block content %}
<div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-6 gap-4 mb-4">
    <div class="bg-white rounded-lg dark:bg-gray-600 h-32 md:h-64 shadow hidden sm:block lg:hidden"></div>
  </div>
  <div class="grid grid-cols-2 gap-4 mb-4">

    {% for stock in stocks %}
    <div class="border-2 bg-white rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72 p-4">
      <h1 class="text-xl">{{ stock }}</h1>
      {{ stocks[stock]['price'] }}

      <p>Founder: {{ stocks[stock]['founder'] }} </p> 
    </div>
    {% endfor %}
  </div>
{% endblock %}