{% extends "base_logged_in.html" %}
{% block content %}
  <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-6 gap-4 mb-4">
    <div
      class="col-span-1 sm:col-span-2 lg:col-span-4 bg-white rounded-lg dark:bg-gray-600 drop-shadow-lg p-4"
    >
  <h1 class="text-xl font-bold">Your Stocks</h1>
  <div class="grid grid-cols-2 gap-4 mb-4 mt-4">
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
    ></div>
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
    ></div>
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
    ></div>
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
    ></div>
  </div>
  </div>
    <div
      class="col-span-1 sm:col-span-1 lg:col-span-2 bg-white rounded-lg dark:bg-gray-600 h-auto drop-shadow-lg p-4"
    >
    <h1 class="text-xl font-bold">Hot Stocks</h1>
  </div>
    <div
      class="bg-white rounded-lg dark:bg-gray-600 h-32 md:h-64 shadow hidden sm:block lg:hidden"
    ></div>
  </div>
            <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-4"
  ></div>
  <div class="grid grid-cols-2 gap-4 mb-4">
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
    ></div>
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
    ></div>
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
    ></div>
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
    ></div>
  </div>
  <div
    class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-4"
  ></div>
  <div class="grid grid-cols-2 gap-4">
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
    ></div>
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
    ></div>
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
    ></div>
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
    ></div>
  </div>
  
{% endblock %}